# NPM
node_modules
npm-debug.log

# Jekyll
_site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
**/Gemfile.lock

# Temporary files
tmp
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.idea
.vs
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/TerraVentures.github.io/v17/.wsuo
/.vs/TerraVentures.github.io/FileContentIndex/read.lock
